PORT=5000
MONGODB_URI=mongodb://localhost:27017/khazandria_church

# Auth
JWT_SECRET=change-me
JWT_EXPIRES_IN=7d

# Password hashing
BCRYPT_SALT_ROUNDS=10

# Seed (optional)
SEED_SUPERADMIN_EMAIL=superadmin@khazandria.com
SEED_SUPERADMIN_PASSWORD=Admin@12345

# Cloudinary (for file uploads)
CLOUDINARY_CLOUD_NAME=dcaos4eq5
CLOUDINARY_API_KEY=925285237688878
CLOUDINARY_API_SECRET=6ErODOIeBWoNvqk7Irf2Tilc25c

